@font-face {
  font-family: 'Pythagoras';
  src: url('Pythagoras.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pythago0';
  src: url('pythago0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

